/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #3b2d2d;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    max-width: 800px;
    background-color: #852525;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
}

header {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

header h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
    color: #d2cfcf;
}

input {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: #f5c6c6;
}

img {
    max-width: 100%;
    max-height: 400px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
